ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    width: 60px;
    background-color: #dddddd;
}

.navi {
    text-align: center;
}

.categories {
    width: 10rem;
    margin-top: 150px;
}

div span:hover+div {
    display: block;
}

.ProductList {
    position: absolute;
    width: 50%;
    left: 30%;
    top: 30%;
    overflow: auto;
    z-index: 0;
}

ul.table {
    width: 540px;
    height: 440px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto
}

ul.table li {
    width: 170px;
    height: 190px;
    float: left;
    border: 1px solid #CCC
}

.clear {
    clear: both
}

.Row {
    display: table;
}